doctype html
html
    head
        title
            block title
            |  #{servername}
        link(rel='stylesheet' href='/css/bootstrap/bootstrap.min.css')
        block head
    body
        include layout/header
        if !disableFlash
            .container
                include layout/info
        block content
        script.
            isClient = #{session.isClient || false}
            socket_address = "#{socket}"
        script(src='/js/bootstrap/bootstrap.min.js')
