extends layout

block head
    script(src='/js/login_.js')

block title
    | 로그인 -
block content
    .container
        .mx-auto.mt-3.col-sm-12.col-md-8
            h2 로그인
            .d-flex.flex-column.flex-lg-row.gap-2
                .card.flex-grow-1
                    .card-body
                        form(action='/login_' method='post')#loginForm
                            input(type='hidden' name='redirect' value=(query.redirect || '/'))
                            .mb-3
                                label(for='inputEmail').form-label 이메일
                                input(type='email' name='email').form-control#inputEmail
                            .mb-3
                                label(for='inputPassword').form-label 비밀번호
                                input(type='password' name='password').form-control#inputPassword
                            .mb-2.d-flex.gap-2
                                button.btn.btn-primary(type='submit').w-100 로그인
                                a.btn.btn-primary(href='/find_my_password').w-100 비밀번호 찾기
                            .mb-2
                                a.btn.btn-primary(href='/join').w-100 회원가입
                div.d-none.d-lg-block
                    a.btn.btn-primary.w-100.mb-2(href='https://play.google.com/store/apps/details?id=com.hyonsu.hyonsulogin' target='_blank') QR로그인 앱 다운로드하기
                    .card
                        img#qrlogin(src='/img/loading.gif' width='100%' style='min-width: 245px')
