extends layout
block head
    script(src='/js/main.js')
block title
    | 홈 -
block content
    .container
        .d-flex.gap-2.flex-column.flex-lg-row
            div.flex-grow-1
                | LIST
            div(style='min-width: 300px')
                if !isClient && client.win || client.linux
                    .card
                        .card-body
                            h5.card-title 클라이언트 다운로드
                            .d-flex.flex-column.gap-2
                                if client.win
                                    a.btn.btn-outline-primary(href=client.win) 클라이언트(WINDOWS)
                                if client.linux
                                    a.btn.btn-outline-primary(href=client.linux) 클라이언트(LINUX)