extends layout
block head
    script(src='/js/main.js')
block title
    | 홈 -
block content
    .container
        .d-flex.gap-2.flex-column.flex-lg-row
            div.flex-grow-1
                #room
            div(style='min-width: 300px')
                if !isClient && (client.win || client.linux)
                    .card
                        .card-body
                            h5.card-title 클라이언트 다운로드
                            .d-flex.flex-column.gap-2
                                if client.win
                                    a.btn.btn-outline-primary(href=client.win) 클라이언트(WINDOWS)
                                if client.linux
                                    a.btn.btn-outline-primary(href=client.linux) 클라이언트(LINUX)
                if isClient
                    .card
                        .card-body
                            h5.card-title 방 접속하기
                            form(method='get' action='/game')
                                .mb-2
                                    input(required type='text' name='room' placeholder='방 코드 / URL 입력').form-control
                                button(type='submit').btn.btn-primary.w-100 접속하기