extends layout
block content
    .container
        .d-flex.gap-2.flex-column.flex-lg-row
            div.flex-grow-1
                | LIST
            div
                .card(style='min-width: 300px')
                    .card-body
                        if !isClient
                            a.btn.btn-outline-primary(href='/client' style='width: 100%') 클라이언트 다운로드