extends layout
block head
    script(src='/js/secret_key.min.js')
    script(src='/js/main.js')
block title
    | 홈 -
block content
    .container
        .d-flex.gap-2.flex-lg-row.flex-column-reverse
            div.flex-grow-1
                #room
            div(style='min-width: 300px')
                a(href='/newroom')#newroom.btn.btn-primary.w-100.mb-2 새 방 만들기
                if !isClient
                    a.btn(href=clientURL).w-100.btn-primary 클라이언트 다운로드
                if isClient
                    .card
                        .card-body
                            h5.card-title 방 접속하기
                            form(method='get' action='/game')
                                .mb-2
                                    input(required type='text' name='room' placeholder='방 코드 / URL 입력').form-control
                                button(type='submit').btn.btn-primary.w-100 접속하기