extends layout

block title
    | 방 만들기 -
block content
    .container
        .mx-auto.mt-3.col-sm-12.col-md-8
            h2 방 생성
            .card
                .card-body
                    form(action='/login' method='post')#loginForm
                        input(type='hidden' name='redirect' value=(query.redirect || '/'))
                        .mb-2
                            label(for='inputName').form-label 방 이름
                            input(type='text' name='name' value=`${user.nickname}님의 방` required).form-control#inputName
                        .mb-2
                            label(for='inputPassword').form-label 방 비밀번호
                            input(type='password' value='' name='password').form-control#inputPassword
                            #passwordHelp.form-text 비워두면 비밀번호 없이 방에 들어올 수 있습니다.
                        .mb-2
                            label(for='inputNoteSpeed').form-label 노트 속도
                            input(type='number' value='2000' name='note_speed' required).form-control#inputNoteSpeed
                            #noteSpeedHelp.form-text 단위: ms
                        .mb-2
                            label(for='inputMaxPlayer').form-label 최대 플레이어(최소 2명, 최대 8명)
                            input(type='number' value='8' min='2' max='8' name='max_player' required).form-control#inputMaxPlayer
                        button.btn.btn-primary(type='submit').w-100 생성하기