- const roomList = rooms.filter(x=>x.public)
if !roomList.length
    .row.row-cols-1.row-cols-lg-2
        .card
            .card-body
                h5.card-title
                    i.fas.fa-lock.me-1
                    i.fas.fa-globe.me-1
                    i.fas.fa-play.me-1
                    | TITLE
                span.card-subtitle.text-muted
                    | 플레이 중 |
                    |  정원: 1 / 8
else
    .card
        .card-body.d-flex.flex-column.flex-lg-row.align-items-center
            h4.card-title.m-0 방이 없네요! 첫번째 방을 만들어보세요!
            .flex-grow-1
            a(href='/newroom').btn.btn-outline-primary 방 만들기