if !noNav
    nav.navbar.navbar-light.bg-light.fixed-top.navbar-expand-lg
        .container-fluid
            a.navbar-brand(href='/')
                img(src='/img/title.png', height=24)
            button.navbar-toggler(type='button' data-bs-toggle='collapse' aria-expanded='false' aria-label='Toggle navigation' data-bs-target='#navCollapse' aria-contaols='navCollapse')
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navCollapse
                ul.navbar-nav.me-auto
                    li.nav-item
                        a.nav-link(href='/workshop') 창작마당
                    if logined
                        li.nav-item
                            a.nav-link(href='/shop') 상점
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle.dropdown-toggle(href='#' data-bs-toggle='dropdown') 유저
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href='/friend') 친구
                                li
                                    a.dropdown-item(href='/block') 차단
                    if isAdmin
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle.dropdown-toggle(href='#' data-bs-toggle='dropdown') 관리자
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href='/debug') 디버그 정보
                                li
                                    a.dropdown-item(href='/admin') 관리자 메뉴
                .flex-grow-1
                ul.navbar-nav
                    if logined
                        li.nav-item.dropdown
                            a.nav-link.dropdown-toggle.dropdown-toggle(href='#' data-bs-toggle='dropdown') #{user.nickname}
                            ul.dropdown-menu.dropdown-menu-end
                                li
                                    a.dropdown-item(href='/profile') 프로필
                                li
                                    a.dropdown-item(href='/mypage') 마이페이지
                                .dropdown-divider
                                li
                                    a.dropdown-item(href='/music') 음악 업로드 관리
                                li
                                    a.dropdown-item(href='/note') 채보 관리
                                .dropdown-divider
                                li
                                    a.dropdown-item(href='/logout') 로그아웃
                    else
                        li.nav-item
                            a.nav-link(href=`/login?redirect=${encodeURIComponent(referrer_path)}`) 로그인
                    if isClient
                        li.nav-item
                            a.nav-link(href='#' onclick='require(\'electron\').remote.app.exit()') 종료

    div(style='height: 60px')
